/* General */
html,
body,
.pw,
.w,
[data-scroll],
[data-scroll] > div {
  overscroll-behavior: none;
  -ms-scroll-chaining: none;
}

html,
body,
p,
h1,
h2,
h3,
h4,
img {
  user-select: none; /* Chrome+Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Explorer/Edge */
}

figure {
  position: relative;
}

[data-emoji="â€noâ€"] {
  font-family: monospace;
}

[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* Utils */
[data-start="h"] {
  visibility: hidden;
}

#c {
  width: 100vw;
  height: 100vh;
}

.cnv {
  pointer-events: none;
}

img {
  opacity: 0;
}

video {
  opacity: 0;
}

/* JS EFFECTS */
[data-dom="h"] > div,
[data-dom="p"] > div,
[data-nav="p"] > div {
  overflow: hidden;
  height: 1.1em;
  font-family: "Holla";
}

[data-dom="h"] > div > div,
[data-dom="p"] > div > div,
[data-nav="p"] > div > div,
[data-dom="ln"] {
  will-change: transform;
}

.grid-item {
  aspect-ratio: 1/ 1;
}

.work-img-w {
  aspect-ratio: 1/ 1;
}

.sl {
  height: 80vh;
}

.gl-li-item {
  display: none;
}

/* Layer System*/
/*
Canvas at -10
*/

[data-layer="0"] {
  isolation: isolate;
  z-index: -1000;
  position: absolute;
}

.is-blocked {
  cursor: none;
}

/* Project Element 
.p-square-e {
  position: relative;
}

.square-active:before {
  content: "â€¢ ";
  position: absolute;
  left: -10%;
}
*/

[data-count] {
  counter-increment: projects;
}

[data-count]:after {
  content: "0" counter(projects);
}

.gl-pimg {
  display: none;
}

[data-tx]:before {
  font-family: dehogb, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  content: attr(data-tx);
  padding-right: 5vw;
}

/* -- GL IMAGES */
[data-gl="grid"] {
  height: 100%;
  object-fit: cover;
}

[data-gl="pro"] {
  height: 100%;
  object-fit: cover;
}

.home-img {
  aspect-ratio: 1 / 1;
}

/* Project Grid Randomiser 
  || 0-5   
*/

/* val 0 */
@media screen and (min-width: 800px) {
  [data-css="0"] div:nth-child(3n + 0) {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  [data-css="0"] div:nth-child(2n + 7) {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  [data-css="0"] div:first-child {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  [data-css="0"] div:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  /* val 1 */
  [data-css="1"] div:nth-child(3n + 1) {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  [data-css="1"] div:nth-child(2n + 5) {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  [data-css="1"] div:first-child {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  [data-css="1"] div:last-child {
    grid-column-start: 3;
    grid-column-end: 6;
  }

  /* val 2 */
  [data-css="2"] div:nth-child(3n + 2) {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  [data-css="2"] div:nth-child(2n + 4) {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  [data-css="2"] div:first-child {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  [data-css="2"] div:last-child {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  /* val 3 */
  [data-css="3"] div:nth-child(5n + 2) {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  [data-css="3"] div:nth-child(3n + 1) {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  [data-css="3"] div:first-child {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  [data-css="3"] div:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/* Case Study Page */
