.tx-xl {
  font-size: 3.5vw;
  line-height: 1em;
  text-transform: none;
  font-family: "Holla";

  .italic {
    font-style: italic;
  }

  @media screen and (max-width: 991px) {
    & {
      font-size: 5vw;
    }
  }

  @media screen and (max-width: 479px) {
    & {
      font-size: 8vw;
      text-align: right;
    }

    & strong {
      margin-left: 4em;
    }
  }
}

.tx-xl strong {
  margin-left: 8em;
  font-weight: 400;
}

.tx-intro {
  display: inline-block;
  padding-right: 5vw;
  padding-left: 2vw;
  font-family: dehogb, sans-serif;
  font-size: 12px;
  line-height: 0.9em;
  font-weight: 400;

  &.italic {
    font-style: italic;
    background-color: red;
  }

  @media screen and (max-width: 991px) {
    & {
      transform: translateY(-6px);
    }
  }
}

.work-link {
  display: inline-block;
  // grid-column: 2;
  grid-column-start: 2;
  // grid-column-end: 2;
  grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 2;

  @media screen and (max-width: 991px) {
    & {
      grid-column-end: 4;
    }
  }
}
