.detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.2em;
  margin-bottom: 3.2em;
}

.detail.is-first {
  margin-top: 0em;
}

.j {
  text-align: justify;
}

@media screen and (max-width: 991px) {
  .u._1 {
    width: 60px;
  }
  .u._3 {
    width: 72vw;
  }
}
@media screen and (max-width: 767px) {
  .u._3 {
    width: 64vw;
  }
}