/* Intro Logo */
.logo-container {
  position: relative;
  width: 96vw;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  z-index: 10;

  .logo {
    z-index: -10;
    font-size: 10vw;
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 991px) {
      & {
        font-size: 20vw;
      }
    }
  }
}

/* Intro Image Grid */
.intro-container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-grid {
  display: grid;
  height: 80%;
  max-width: 96vw;
  justify-items: center;
  align-items: center;
  flex: 1;
  grid-row-gap: 0em;
  grid-column-gap: 0em;
  grid-auto-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  @media screen and (max-width: 991px) {
    & {
      grid-column-gap: 0em;
      grid-row-gap: 0em;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  @media screen and (max-width: 767px) {
    & {
      display: -ms-grid;
      display: grid;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      grid-auto-columns: 1fr;
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      -ms-grid-rows: auto;
      grid-template-rows: auto;

      grid-auto-flow: row;
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      height: 100%;
      // grid-auto-columns: 1fr;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      // grid-template-rows: auto auto auto auto;
    }
  }
}

/* Intro Image Element */
.img-container {
  counter-increment: heroIndex;
  position: relative;
  height: calc((80vh) / 4);
  aspect-ratio: 1/ 1;
  object-fit: cover;

  &:after {
    content: "( " counter(heroIndex) " )";
    display: block;
    position: absolute;
    top: 32px;
    left: 0px;
    transform: translateX(-120%);
    font-size: 10px;
    white-space: pre-wrap;
    text-align: end;
    font-family: "Holla";
  }

  &:hover:after {
    content: "( " counter(heroIndex) " )\A"attr(data-title);
  }

  &.lg {
    height: calc((80vh) / 3);
  }

  @media only screen and (max-width: 768px) {
    & {
      width: calc((100vw) / 3.5);
    }
    &:hover:after {
      content: "( " counter(heroIndex) " )";
    }
    &.lg {
      width: calc((100vw) / 2.5);
    }
  }
}

.is-flip:after {
  left: auto;
  right: 0px;
  top: 12px;
  transform: translateX(120%);
  text-align: start;
}

/* Intro Images */
.intro-image-1 {
  grid-column: 1;
  grid-column-end: 2;
  grid-row: 1;
  grid-row-end: 2;

  @media screen and (max-width: 479px) {
    & {
      grid-column-start: span 1;
      grid-column-end: span 2;
      grid-row-start: span 1;
      grid-row-end: span 2;
    }
  }
}

.intro-image-2 {
  grid-column: 7;
  grid-column-end: 6;
  grid-row: 2;
  grid-row-end: 3;

  @media screen and (max-width: 479px) {
    & {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

.intro-image-3 {
  grid-column: 2;
  grid-column-end: 4;
  grid-row: 1;
  grid-row-end: 3;

  @media screen and (max-width: 479px) {
    & {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
    }
  }
}

.intro-image-4 {
  grid-column: 1;
  grid-column-end: 3;
  grid-row: 3;
  grid-row-end: 5;

  @media screen and (max-width: 479px) {
    & {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }
}

.intro-image-5 {
  grid-column: 5;
  grid-column-end: 7;
  grid-row: 1;
  grid-row-end: 2;

  @media screen and (max-width: 479px) {
    & {
      grid-column: 1;
      grid-column-end: 2;
      grid-row: 3;
      grid-row-end: 3;
      display: none;
    }
  }
}

.intro-image-6 {
  grid-column: 4;
  grid-column-end: 5;
  grid-row: 3;
  grid-row-end: 4;

  @media screen and (max-width: 479px) {
    & {
      display: none;
    }
  }
}

/* Intro Note */
.intro-note {
  display: flex;

  @media screen and (max-width: 991px) {
    & {
      flex-direction: column;
    }
  }
}

/* EXTRA ??? */
@media screen and (max-width: 991px) {
  .u._2 {
    width: 24vw;
  }
}
@media screen and (max-width: 767px) {
  .u {
    width: 24vw;
  }
  .u._5 {
    width: 96vw;
  }
  .u._2 {
    width: 43vw;
  }
}
