.c.gr-sl {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;

  @media screen and (max-width: 479px) {
    & {
      grid-template-columns: 48px minmax(auto, 64px) 1fr 1fr;
    }
  }
}

.c.gr-sl.h-full {
  height: auto;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.c.gr-sl.h-full.mt-10 {
  margin-top: 10em;
}

.c.gr-sl.h-full.mb-10 {
  margin-bottom: 10em;
}

.c.h-full {
  height: 150vh;
}

.c.h-full.longer {
  height: 200vh;
}

.cont-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: row;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 1.2em;

  a {
    padding: 0;
  }
}
