.line-el {
  position: relative;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.5s ease-out;
}

@media screen and (max-width: 991px) {
  .line-el {
    flex: 1;
  }
}

.line-el:hover {
  color: black !important;
}

.line-el:hover:before {
  content: " ";
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  left: -24%;
  right: -24%;
  bottom: 0;
  pointer-events: none;
}

.project-image-container {
  position: absolute;
  right: 20px;
  bottom: 100px;
  width: 356px;

  @media screen and (max-width: 479px) {
    & {
      position: absolute;
      right: -12px;
      top: 48px;
      bottom: none;
      width: 232px;
    }
  }
}