@font-face {
  font-family: "Holla";
  src: url("../_fonts/holla/hollamediaeval.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Holla";
  src: url("../_fonts/holla/hollamediaeval-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Holla";
  src: url("../_fonts/holla/hollamediaeval-boldoblique.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Holla";
  src: url("../_fonts/holla/hollamediaeval-oblique.ttf");
  font-weight: normal;
  font-style: italic;
}


/*   Default   */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}